﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/bower_lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/lib/css/navbar.css" rel="stylesheet" />
    @RenderSection("styles", false)
</head>
<body>
    <div class="container">
        <nav class="navbar navbar-light bg-faded">
            <button class="navbar-toggler hidden-sm-up" type="button" data-toggle="collapse" data-target="#navbar-header" aria-controls="navbar-header" aria-expanded="false" aria-label="Toggle navigation"></button>
            <div class="collapse navbar-toggleable-xs" id="navbar-header">
                <a class="navbar-brand" href="/">Enterprise Access Control</a>
                <ul class="nav navbar-nav">
                    @*@await Component.InvokeAsync("EacMenuComponent")*@
                </ul>
                <form class="form-inline float-xs-right">
                    <input class="form-control" type="text" placeholder="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </nav> <!-- /navbar -->
        @RenderBody()
    </div>
    <script type="text/javascript" src="/bower_lib/jquery/dist/jquery.js"></script>
    <script type="text/javascript" src="/bower_lib/tether/dist/js/tether.js"></script>
    <script type="text/javascript" src="/bower_lib/bootstrap/dist/js/bootstrap.js"></script>
    @RenderSection("scripts", false)
</body>
</html>
