﻿@{ 
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <base href="/" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="/bower_lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div>
        <my-app>Loading...</my-app>
    </div>
    <!-- 1. Load libraries -->
    <script src="/js/shim.min.js"></script>
    <script src="/js/zone.js"></script>
    <script src="/js/Reflect.js"></script>
    <script src="/js/system.src.js"></script>

    <script src="/js/jquery.js"></script>

    <script src="/js/bootstrap.js"></script>
    <!-- 2. Configure SystemJS -->
    <script src="/administration/system.config.js"></script>
    <script>
        System.import('administration').catch(function (err) { console.error(err); });
    </script>
</body>
</html>