﻿@model IEnumerable<EnterpriseAccessControl.Mvc.Menu.EacMenuModel>


<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="http://example.com" id="supportedContentDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Dropdown</a>
    <div class="dropdown-menu" aria-labelledby="supportedContentDropdown">
        @foreach (var m in Model)
        {
            <a class="dropdown-item" href="@m.Path">@m.Title</a>
        }
    </div>
</li>