﻿<div class="row" style="margin-top:10px">
    <div class="col-md-3">

        <div class="bootstrap-vertical-nav">
            <nav class="navbar navbar-light bg-faded">
                <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#exCollapsingNavbar2">
                    &#9776;
                </button>
                <div class="collapse navbar-toggleable-sm" id="exCollapsingNavbar2">
                    <a class="navbar-brand" href="#">Responsive navbar</a>
                    <ul class="nav navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Pricing</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">About</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <div class="col-md-9">
        <div class="profile-content">
            <div class="row">
                <div class="col-md-6">
                    <div class="card card-block">
                        <h4 class="card-title">Register</h4>

                        <form>
                            <div class="form-group">
                                <label for="formGroupExampleInput">Email</label>
                                <input class="form-control" name="email" placeholder="Email" required="" type="text">
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput">Password</label>
                                <input class="form-control" name="password" placeholder="Password" required="" type="password">
                            </div>
                            <div class="form-group">
                                <label for="formGroupExampleInput">Password Confirmation</label>
                                <input class="form-control" name="passwordConfirmation" placeholder="Password Confirmation" required="" type="password">
                            </div>
                            <button class="btn btn-primary" type="submit" disabled="">Register</button>
                        </form>

                    </div>
                </div>
            </div>
            <my-app>Loading...</my-app>
        </div>
    </div>
</div>



@section styles{
    <base href="/" />
}

@section scripts{
    <script src="/lib/js/core.js"></script>
    <script src="/lib/js/zone.js"></script>
    <script src="/lib/js/reflect.js"></script>
    <script src="/lib/js/system.js"></script>
    <script src="/apps/management/config.js"></script>
    <script>
        System.import('management').catch(function (err) { console.error(err); });
    </script>
}
